body{
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 29px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: 0px auto; */
    background-image: url("/img/a1WP.png");   
}

#local{
    width: 100%;
    /* background-color: #1e90ff; */
    padding: 20px 0;
    margin: 0;

    font-size: 4rem;
    color: white;
    text-align: center;
}

#cities{
    border-collapse: collapse;
    width: 100%;
    color: #abce10;
    font-size: 3rem;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#cities img{
    padding: 0px 0px 0px 0px;
    /* width: 90%; */
    border: 1px solid #0d0d0e;
    border-radius: 10px;
}

#cities td{
    /* border: 1px solid #6551d8; */
    padding: 20px;
}

/* #cities tr:nth-child(even){
    background-color: #f2f2f2;
} */

.col1{
    width: 10%;
}

.col2{
    width: 45%;
}
/* 
#container{
    width: 100%;
    margin: 1px auto;
} */


@media all and (max-width: 700px) {
    
    #cities{
        font-size: 1em;
    }

   
    
}





